In [2]:
# https://www.snugarchive.com/blog/jupyter-notebook-setup/, 주피터 노트북 초기환경설정

In [5]:
!pip install -r python_package_list_20210912.txt

Collecting absl-py==0.7.1
  Using cached absl-py-0.7.1.tar.gz (99 kB)
Requirement already satisfied: alabaster==0.7.12 in c:\users\rimda\anaconda3\lib\site-packages (from -r python_package_list_20210912.txt (line 2)) (0.7.12)
Collecting argon2-cffi==20.1.0
  Using cached argon2_cffi-20.1.0-cp39-cp39-win_amd64.whl (42 kB)
Collecting asn1crypto==0.24.0
  Using cached asn1crypto-0.24.0-py2.py3-none-any.whl (101 kB)
Collecting astor==0.7.1
  Using cached astor-0.7.1-py2.py3-none-any.whl (27 kB)
Collecting astroid==2.2.5
  Using cached astroid-2.2.5-py3-none-any.whl (193 kB)
Collecting astropy==3.1.2
  Using cached astropy-3.1.2.tar.gz (8.2 MB)
Collecting astunparse==1.6.3
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting async-generator==1.1
  Using cached async_generator-1.1-py3-none-any.whl (11 kB)
Collecting atomicwrites==1.3.0
  Using cached atomicwrites-1.3.0-py2.py3-none-any.whl (5.9 kB)
Collecting attrs==19.1.0
  Using cached attrs-19.1.0-py2.py3-none-any.whl (35 kB)
Collecting Automat==0.7.0
  Using cached Automat-0.7.0-py2.py3-none-any.whl (37 kB)

ERROR: Could not find a version that satisfies the requirement catboost==0.14.0 (from versions: 0.1.1, 0.1.1.2, 0.24.4, 0.25, 0.25.1, 0.26, 0.26.1, 1.0.0, 1.0.1, 1.0.2, 1.0.3, 1.0.4, 1.0.5, 1.0.6)
ERROR: No matching distribution found for catboost==0.14.0

Collecting Babel==2.6.0
  Using cached Babel-2.6.0-py2.py3-none-any.whl (8.1 MB)
Collecting backcall==0.1.0
  Using cached backcall-0.1.0.zip (11 kB)
Collecting backports.os==0.1.1
  Using cached backports.os-0.1.1-py3-none-any.whl (5.8 kB)
Collecting backports.shutil-get-terminal-size==1.0.0
  Using cached backports.shutil_get_terminal_size-1.0.0-py2.py3-none-any.whl (6.5 kB)
Collecting bayesian-optimization==1.0.1
  Using cached bayesian-optimization-1.0.1.tar.gz (12 kB)
Collecting beautifulsoup4==4.7.1
  Using cached beautifulsoup4-4.7.1-py3-none-any.whl (94 kB)
Collecting bitarray==0.8.3
  Using cached bitarray-0.8.3.tar.gz (36 kB)
Requirement already satisfied: bkcharts==0.2 in c:\users\rimda\anaconda3\lib\site-packages (from -r python_package_list_20210912.txt (line 20)) (0.2)
Collecting bleach==3.1.0
  Using cached bleach-3.1.0-py2.py3-none-any.whl (157 kB)
Collecting blis==0.2.4
  Using cached blis-0.2.4.tar.gz (1.5 MB)
Collecting bokeh==1.0.4
  Using cached bokeh-1.0.4.tar.gz (16.3 MB)
Collecting boto==2.49.0
  Using cached boto-2.49.0-py2.py3-none-any.whl (1.4 MB)
Collecting boto3==1.9.130
  Using cached boto3-1.9.130-py2.py3-none-any.whl (128 kB)
Collecting botocore==1.12.130
  Using cached botocore-1.12.130-py2.py3-none-any.whl (5.4 MB)
Collecting Bottleneck==1.2.1
  Using cached Bottleneck-1.2.1.tar.gz (105 kB)
Collecting bz2file==0.98
  Using cached bz2file-0.98.tar.gz (11 kB)
Collecting cached-property==1.5.2
  Using cached cached_property-1.5.2-py2.py3-none-any.whl (7.6 kB)
Collecting cachetools==4.1.1
  Using cached cachetools-4.1.1-py3-none-any.whl (10 kB)

In [1]:
import pandas as pd

In [ ]:
#df = pd.read_csv(filepath)
#%pwd :  경로 확인

In [2]:
%pwd

'D:\\workspace\\ADP'

In [4]:
#iris_data = pd.read_csv("E:\ADP\data\iris.csv")
iris_data = pd.read_csv("D:\workspace\ADP\data\iris.csv")

In [5]:
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
iris_data.to_csv("example.csv", header = True, index = True, encoding = 'utf-8')

In [7]:
pd.read_csv("example.csv", encoding="utf-8")

,Unnamed: 0,sepal length,sepal width,petal length,petal width,target
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,Iris-virginica
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
iris_data.to_csv("example2.csv", header = True, index = False, encoding = "utf-8") # 주로 사용하는 방식

In [9]:
pd.read_csv("example2.csv", encoding = "utf-8")

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
# df = pd.DataFrame(data) 데이터프레임 선언
# Series
# 판다스의 기본객체
# Series는 리스트와 비슷하지만 인덱스 값을 가지고 있음. (인덱스는 0부터)

In [18]:
list_1 = [1,2,3,4]

In [19]:
list_1[0]

1

In [24]:
pd.DataFrame(list_1) # 리스트를 데이터 프레임으로 선언, 1열을 가지고 있는 데이터 프레임

   0
0  1
1  2
2  3
3  4

In [25]:
list_2 = [[1,2,3,4],[5,6,7,8]] # 형렬

In [26]:
pd.DataFrame(list_2)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [29]:
series_1 = pd.Series([1,2,3,4]) # 리스트와 비슷하지만, 인덱스를 가지고 있는 1차원 array가 시리즈
series_1

0    1
1    2
2    3
3    4
dtype: int64

In [31]:
# 시리즈를 인덱스와 같이 선언하기 (인덱스를 임의의 인덱스로 선언하겠다.)
series_2 = pd.Series([1,2,3,4], index = ['2022-07-24', 2, "dd", 43])
series_2

2022-07-24    1
2             2
dd            3
43            4
dtype: int64

In [34]:
series_2["2022-07-24"]

1

In [35]:
# df.head(n) 처음 n개 출력, 미지정시 5개
# df.tail(n) 처음 n개 출력, 미지정시 5개

In [36]:
iris_data.head()

   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [37]:
iris_data.tail(10)

     sepal length  sepal width  petal length  petal width          target
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [38]:
# DataFrame 요약 / 통계정보 확인
# df.info() # 총 데이터 건수, 데이터 타입, Null(결측치) 건수 확인
# df.describe() # 숫자형 컬럼들의 n-percentile 분포도, 평균값, 최댓값, 최솟값 확인, boxPlot 혹은 이상치 탐지
# df['컬럼명'].min() 또는 df['컬럼명'].max() # 해당 컬럼의 최솟값, 최댓값 확인  
# .size() : 개수 반환
# .shape() : 튜플형태로 shape 반환
# .unique() : 유일한 값만 ndarray로 반환
# .count() : NaN을 제외한 개수를 반환
# .mean() : NaN을 제외한 평균
# .value_counts() : NaN을 제외하고 각 값들의 빈도를 반환

In [39]:
iris_data.info() # Dtype = DataType, object(문자열)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [40]:
iris_data.describe() #EDA

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [41]:
iris_data['sepal length'].min()

4.3

In [42]:
iris_data['sepal width'].max()

4.4

In [46]:
iris_data['petal length'].shape #(행,열) # 열이 없으므로, 시리즈

(150,)

In [47]:
iris_data['petal length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal length, Length: 150, dtype: float64

In [48]:
# 시리즈를 데이터 프레임으로 변경
iris_data[['petal length']].shape

(150, 1)

In [51]:
iris_data[['petal length']]

     petal length
0             1.4
1             1.4
2             1.3
3             1.5
4             1.4
..            ...
145           5.2
146           5.0
147           5.2
148           5.4
149           5.1

[150 rows x 1 columns]

In [52]:
iris_data['target'].unique() # 중복제거

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [53]:
iris_data['target'].count()

150

In [54]:
iris_data['target'].value_counts() # 중복제거 후 값을 카운트, 범주형 변수 확인 시 많이 사용.

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: target, dtype: int64