In [2]:
# 날짜 데이터 핸들링(중요) -> 시계열, ARIMA
# datetime 모듈 : 날짜/시간
# 크게 2종류
# 시리즈 : 날짜 -> 문자열, 문자열 -> 날짜
# 데이터 : 날짜 -> 문자열, 문자열 -> 날짜
# ~S까지 알아둘 것

In [4]:
from datetime import datetime
from datetime import timedelta

In [13]:
type(datetime.today())

datetime.datetime

In [16]:
# 일반적 데이터 : 날짜 -> 문자열
today = datetime.today().strftime('%Y- dwd %d -dwd %d')
print('today : ', today)
print('today 변수 type : ', type(today), '\n')

todaytime = datetime.today().strftime('%Y-%m-%d %H:%M:%S')
print('todaytime : ', todaytime)
print('todaytime 변수 type : ', type(todaytime))

today :  2022- dwd 18 -dwd 18
today 변수 type :  <class 'str'>

todaytime :  2022-08-18 14:36:08
todaytime 변수 type :  <class 'str'>

In [18]:
todaytime = todaytime.split(" ")[0]

In [19]:
# 문자열 -> 날짜
datetime.strptime(todaytime, '%Y-%m-%d')

datetime.datetime(2022, 8, 18, 0, 0)

In [21]:
# 현재시간을 time 변수에 대입
# 현재 시간의 년/월/일/시간/요일

time = datetime.today()

print("년 : ", time.strftime('%Y'), '&', time.year)
print("월 : ", time.strftime('%m'), '&', time.month)
print("일 : ", time.strftime('%d'), '&', time.day)
print("시간 : ", time.strftime('%H'), '&', time.hour)
print("요일 : ", time.strftime('%A'), '&', time.weekday()) # 0(월)~6(일)

년 :  2022 & 2022
월 :  08 & 8
일 :  18 & 18
시간 :  14 & 14
요일 :  Thursday & 3

In [22]:
# 날짜 데이터 연산 
# datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
# 두 날짜와 시간 사이의 차이를 계산할 때 사용함

In [24]:
# 현재 날짜로부터 100일 후의 날짜?
timedelta(days=100)

datetime.timedelta(days=100)

In [26]:
from datetime import timedelta

time = datetime.today()
print((time + timedelta(days=100))) # 날짜형
print((time - timedelta(days=100)).strftime('%Y-%m-%d %H:%M:%S'))

2022-11-26 14:59:54.548429
2022-05-10 14:59:54

In [27]:
# 데이터프레임 날짜 데이터 핸들링
# 문자열 -> 날짜 데이터로 변환
# pd.to_datetime(df['컬럼명'], format ='%Y%m%d')

In [105]:
import pandas as pd
df = pd.read_csv('data/구매내역.csv')

In [106]:
df

    datetime  purchase
0   20140627     30000
1   20140711     15000
2   20140707     20000
3   20140711     25000
4   20150120     30000
5   20140707     60000
6   20140708    150000
7   20160623     20000
8   20170515    265000
9   20140710     26800
10  20140704      1800
11  20140708     18600
12  20140709     15000
13  20140710     26050

In [107]:
dfs = df

In [108]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     int64
 1   purchase  14 non-null     int64
dtypes: int64(2)
memory usage: 352.0 bytes

In [109]:
# int -> str로 변환
dfs['datetime'] = dfs['datetime'].astype(str)

In [110]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     object
 1   purchase  14 non-null     int64
dtypes: int64(1), object(1)
memory usage: 352.0+ bytes

In [111]:
dfs['datetime'] = pd.to_datetime(dfs['datetime'], format = '%Y%m%d')

In [112]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     datetime64[ns]
 1   purchase  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 352.0 bytes

In [113]:
# 6,7,8월이 존재하는가?
dfs[dfs.datetime.dt.month.isin([6,7,8])] # dt -> str 역할

     datetime  purchase
0  2014-06-27     30000
1  2014-07-11     15000
2  2014-07-07     20000
3  2014-07-11     25000
5  2014-07-07     60000
6  2014-07-08    150000
7  2016-06-23     20000
9  2014-07-10     26800
10 2014-07-04      1800
11 2014-07-08     18600
12 2014-07-09     15000
13 2014-07-10     26050

In [54]:
# 날짜 -> 문자열
# timeSeries.dt.strftime("%Y-%m-%d")

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     datetime64[ns]
 1   purchase  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 352.0 bytes

In [118]:
df['datetime'].dt.strftime('%m')

0     06
1     07
2     07
3     07
4     01
5     07
6     07
7     06
8     05
9     07
10    07
11    07
12    07
13    07
Name: datetime, dtype: object

In [119]:
df['datetime'] = df['datetime'].dt.strftime("%Y-%m-%d")

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     object
 1   purchase  14 non-null     int64
dtypes: int64(1), object(1)
memory usage: 352.0+ bytes

In [121]:
# Map(lambda) 사용

In [135]:
df
df['datetime'] = pd.to_datetime(df['datetime'], format = '%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     datetime64[ns]
 1   purchase  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 352.0 bytes

In [136]:
df['datetime'] = df['datetime'].map(lambda x :x.strftime("%Y-%m-%d"))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     object
 1   purchase  14 non-null     int64
dtypes: int64(1), object(1)
memory usage: 352.0+ bytes

In [137]:
df['datetime'] = df['datetime'].map(lambda x :datetime.strptime(x, '%Y-%m-%d'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     datetime64[ns]
 1   purchase  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 352.0 bytes

In [ ]:
# 문자열 -> datetime
# pd.to_datetime('series_data', format = '')
# datetime -> 문자열
# 'series_datetime'.dt.strftime('%Y%m')