In [1]:
# 데이터 샘플링 및 표본추출
# ADP : 왜 랜덤추출를 했는가? 서술자료 필요
# 모집단, 원소(INDEX), 표본, 모수
# 모집단의 정의, 표본의 크기, 조사방법, 조사기간, 표본추출방법
# 표본추출방법 : 단순임의추출법, 계통(정렬)추출법, 집락추출법, 집락추출법, 층화추출법(중요, 통계/머신에서 많이사용)
# 층화추출법(중요) : 모집단이 이질적인 몇 개의 계층으로 이루어져 있을 때, 모든 계층으로부터 원소를 임의로 추출하여 각 계층을 고루 대표할 
# 수 있도록 랜덤하게 표본을 추출하는 방법
# Titanic : 생존자(100명), 비생존자(50명) -> 각 계층에서 50% 비율씩 추출 -> 생존자 임의로 50명, 비생존자 임의로 25명

In [2]:
# 단순임의추출
# DataFrame.sample(frac = 0.7, random_state = 2000)
# n : 추출할 표본 개수,  frac : 추출할 표본 크기 비율, replace = boolean ==True 복원추출, false == 비복원추출 , random_state = 저장?

In [5]:
import pandas as pd
import numpy as np

In [6]:
iris = pd.read_csv("data\iris.csv")

In [7]:
iris

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [11]:
training = iris.sample(frac = 0.7, random_state = 2000)

In [12]:
training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 19 to 24
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  105 non-null    float64
 1   sepal width   105 non-null    float64
 2   petal length  105 non-null    float64
 3   petal width   105 non-null    float64
 4   target        105 non-null    object
dtypes: float64(4), object(1)
memory usage: 4.9+ KB

In [15]:
training['target'].value_counts() # 단순임의추출이기 때문에 개수가 동일하지 않다.

Iris-virginica     38
Iris-versicolor    35
Iris-setosa        32
Name: target, dtype: int64

In [18]:
# 아래는 인덱스가 동일한 데이터가 포함될 수 있다.
training = iris.sample(frac = 0.7, random_state = 52)
test = iris.sample(frac = 0.3, random_state = 48)

In [19]:
training.index

Int64Index([ 43,  37, 143, 145, 107,  52,  60,  41, 122, 131,
            ...
            112, 141,  75, 132,  12,  59,  46, 128, 148,  10],
           dtype='int64', length=105)

In [20]:
test.index

Int64Index([ 96,  73, 134,  41,  70, 116,  19, 138,  33,  89, 137,  36,  20,
            126,  87,  56,  11,  62,  72, 120,   8, 147,  77,  86, 129,   4,
             31, 136, 132,  88, 110,  69, 148,  39,  53, 103, 127,  78,  38,
             99,  79,  71, 111, 149,  84],
           dtype='int64')

In [23]:
# test 데이터와 중복되는 training 데이터 
# 데이터 손실 발생 -> 보통 층화임의추출 사용
training[training.index.isin(test.index)==True]

     sepal length  sepal width  petal length  petal width           target
41            4.5          2.3           1.3          0.3      Iris-setosa
116           6.5          3.0           5.5          1.8   Iris-virginica
79            5.7          2.6           3.5          1.0  Iris-versicolor
96            5.7          2.9           4.2          1.3  Iris-versicolor
126           6.2          2.8           4.8          1.8   Iris-virginica
53            5.5          2.3           4.0          1.3  Iris-versicolor
69            5.6          2.5           3.9          1.1  Iris-versicolor
19            5.1          3.8           1.5          0.3      Iris-setosa
72            6.3          2.5           4.9          1.5  Iris-versicolor
84            5.4          3.0           4.5          1.5  Iris-versicolor
56            6.3          3.3           4.7          1.6  Iris-versicolor
4             5.0          3.6           1.4          0.2      Iris-setosa
62            6.0          2.2           4.0          1.0  Iris-versicolor
70            5.9          3.2           4.8          1.8  Iris-versicolor
31            5.4          3.4           1.5          0.4      Iris-setosa
88            5.6          3.0           4.1          1.3  Iris-versicolor
134           6.1          2.6           5.6          1.4   Iris-virginica
8             4.4          2.9           1.4          0.2      Iris-setosa
129           7.2          3.0           5.8          1.6   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica
36            5.5          3.5           1.3          0.2      Iris-setosa
103           6.3          2.9           5.6          1.8   Iris-virginica
111           6.4          2.7           5.3          1.9   Iris-virginica
110           6.5          3.2           5.1          2.0   Iris-virginica
138           6.0          3.0           4.8          1.8   Iris-virginica
78            6.0          2.9           4.5          1.5  Iris-versicolor
77            6.7          3.0           5.0          1.7  Iris-versicolor
73            6.1          2.8           4.7          1.2  Iris-versicolor
127           6.1          3.0           4.9          1.8   Iris-virginica
99            5.7          2.8           4.1          1.3  Iris-versicolor
136           6.3          3.4           5.6          2.4   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica

In [28]:
# 층화 임의 추출
from sklearn.model_selection import train_test_split
# 함수 사용법 : X_train, X_test, y_train, y_test = train_test_split(X(독립),y(종속), test_size = 0.2, shuffle = True, stratify = 변수, randmon_state = 1004)
# (중요) 종속변수가 중요하기 때문에 종속변수의 비율로서 Train 및 Test를 분리,  stratify에는 보통 종속변수(계층의 특징을 가지고 있는 변수)
# X : 데이터 테이블
# test_size : 테스트 사이즈 비율
# shuffle : True이면 무작위 추출, False이면 체계적 추출
# randon_state = : 난수//임의의 번호 지정하면 되며 같은 번호라면 같은 값이 나온다.

In [29]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [30]:
X_train, X_test = train_test_split(iris, test_size = 0.3, shuffle = True, stratify = iris["target"], random_state = 1004)

In [34]:
X_train['target'].value_counts() # 합 70%

Iris-virginica     35
Iris-setosa        35
Iris-versicolor    35
Name: target, dtype: int64

In [35]:
X_test['target'].value_counts() # 합 30%

Iris-versicolor    15
Iris-setosa        15
Iris-virginica     15
Name: target, dtype: int64

In [ ]:
# 언더 샘플링 & 오버 샘플링
# 언더 샘플링 : 다수 클래스의 샘플은 소수 클래스와 비교할 때 분포 비율과 일치하도록 무작위로 제거함
# 2개의 클래스의 비율을 맞추기 위해 귀중한 정보를 잃어버리고 편향될 수 있기 때문에 일반적으로 선호하지 않음

# 오버샘플링 : 소수 클래스의 샘플을 증가시켜 마이너 클래스와 메이저 클래스의 샘플 크기를 동일하게 만드는 기법
# 랜덤 오버샘플링(소수 샘플 복제)은 동일한 정보를 복사하여 오버피팅을 유발할 수 있음.

# SMOTE(Synthetic Minority Over-sampling Technique)
# - 소수 클래스의 기존 샘플을 사용하여 새로운 합성 관찰을 생성 하는 오버 샘플링 기법 소수 클래스에 대한 선형 보간법으로 가상 훈련 기록을 생성.
# - 합성 훈련 기록은 소수 클래스의 각 예에 대해 k-최근접 이웃 중 하나 이상을 무작위로 선택하여 생성.
# - 오버샘플링 과정을 거친 후 데이터를 재구성하고 처리된 데이터에 대해 여러 분류 모델을 적용할 수 있음\
# - 데이터의 특성에 따라 다르겠지만, 빅데이터 분석을 위해서는 많은 데이터 확보가 효과적이므로 오버샘플링 기법을 적용하는 것이 좋음.
# - 기존의 데이터가 적은 새로운 사례의 데이터에서 사용하기 어려움.

In [36]:
dft = pd.read_csv('data/titanic.csv')

In [37]:
dft

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,True,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,False,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,True,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,True,Southampton
887,1,1,female,19.0,0,0,30.0000,S,First,False,Southampton
888,0,3,female,NaN,1,2,23.4500,S,Third,False,Southampton
889,1,1,male,26.0,0,0,30.0000,C,First,True,Cherbourg
890,0,3,male,32.0,0,0,7.7500,Q,Third,True,Queenstown

In [38]:
dft['survived'].value_counts()  # 클래스의 비율을 맞춰줄 예정

0    549
1    342
Name: survived, dtype: int64

In [40]:
!conda install -c conda-forge imbalanced-learn -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\rimda\anaconda3

  added / updated specs:
    - imbalanced-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.14.0               |   py39hcbf5309_0         1.0 MB  conda-forge
    imbalanced-learn-0.7.0     |             py_1          97 KB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.1 MB

The following NEW packages will be INSTALLED:

  imbalanced-learn   conda-forge/noarch::imbalanced-learn-0.7.0-py_1
  python_abi         conda-forge/win-64::python_abi-3.9-2_cp39

The following packages will be UPDATED:

  conda              pkgs/main::conda-4.13.0-py39haa95532_0 --> conda-forge::conda-4.14.0-py39hcbf5309_0



Downloading and Extracting Packages

conda-4.14.0         | 1.0 MB    |            |   0%
conda-4.14.0         | 1.0 MB    | ##2        |  23%
conda-4.14.0         | 1.0 MB    | ########## | 100%
conda-4.14.0         | 1.0 MB    | ########## | 100%

python_abi-3.9       | 4 KB      |            |   0%
python_abi-3.9       | 4 KB      | ########## | 100%

imbalanced-learn-0.7 | 97 KB     |            |   0%
imbalanced-learn-0.7 | 97 KB     | ########## | 100%
imbalanced-learn-0.7 | 97 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [41]:
from imblearn.over_sampling import SMOTE

In [42]:
dft = dft.dropna() # SMOTE 기법은 NULL 제거 필요

In [45]:
X = dft[['age', 'sibsp', 'parch', 'fare']]
y = dft[['survived']]

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, shuffle = True, stratify = y, random_state = 1004)

In [53]:
# train : 498.4, test : 213.6
print(len(X_train), len(X_test), len(y_train), len(y_test))

498 214 498 214

In [58]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
X_train = scaler.fit_transform(X_train)

In [60]:
X_train.shape

(498, 4)

In [62]:
y_train.value_counts()

survived
0           297
1           201
dtype: int64

In [63]:
# 모델 설정
sm = SMOTE(k_neighbors = 5) # default = 5
#  train 데이터를 넣어 복제함
X_resampled, y_resampled = sm.fit_resample(X_train, y_train)

In [84]:
# SMOTE 통해 '1'이 201 -> 297 증가함에 따라 96행 증가
print('After OverSampling, the shape of train_X:{}'. format(X_resampled.shape))
print('After OverSampling, the shape of train_y:{}'. format(y_resampled.shape))
# SMOTE 통해 '1'이 201 -> 297 증가
print("After OverSampling, counts of label '0':{}". format(sum(y_resampled['survived'] == 0)))
print("After OverSampling, counts of label '1':{}". format(sum(y_resampled['survived'] == 1)))

After OverSampling, the shape of train_X:(594, 4)
After OverSampling, the shape of train_y:(594, 1)
After OverSampling, counts of label '0':297
After OverSampling, counts of label '1':297